h1.title{
    text-align: center;
    color: #333;
}
.text{
    color: #2a2a2aa8;
    font-size: 14px;
}
strong{
    color: #4c4c4e;
    font-size: 14px;
}
a{
    text-decoration: none;
    color: #0078f2;
}
body{
    background-color: white;
    font-family: OpenSans,sans-serif;
}
table{
    border-collapse: collapse;
}
th{
    border: 1px solid black;
}
tr > th > div{
    text-align: left;
}
th.project{
    color: #4c4c4e;
    font-size: 14px;

}