body{
    background-color: rgb(18, 18, 18);
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
header{
    background-color: rgb(71, 71, 71);
    position: fixed;
    width: 100%;
    z-index: 1;
    font-family: sans-serif;
}
ul.items{
    list-style-type: none;
    display: flex;
}
li.item > a {
    text-decoration: none;
    color: rgb(172, 172, 172);
    display: inline-block;
    padding: 5px;
    line-height: 52.36px;
}
li.item2{
    margin-left: auto; 
}
li.item > a:hover{
    color: rgb(216, 216, 216);
    border-bottom: 5px solid blue;
}
div.bodier{
    display: flex;
    position: relative;
}
div.bone2{
    width: 80%;
    color:  #e7e7e7;
    font-family: sans-serif;
    margin: auto
}
ul > div > a > img{
    position: relative;
    top: 15px;
    width: 100%;
}
ul > div{
    width: 50px;
}
footer{
    font-family: sans-serif;
    background-color: rgb(71, 71, 71);
    padding-top: 25px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 25px;
    position: relative;
}
i.fab{
    color: #e7e7e7;
    font-size: 40px;
    padding-right: 10px;
}
i.fas{
    color: #e7e7e7;
    font-size: 40px;
    padding-right: 10px;
}
i.fab:hover{
    color: #4285F4;
}
div.fab{
    display: flex;
}
div.Resources{
    padding-top: 5px;
    padding-bottom: 25px;
    display: flex;
}
a.item{
    color: #e7e7e7;
    text-decoration: none;
    padding-right: 25px;
}
div.MadeGames{
    padding-bottom: 25px;
}
div.banquyen{
    padding-top: 25px;
    color: #e7e7e7;
    font-size: 13px;
}
div.Resources > div > a:hover{
    color: blue;
}
div.chinhsach{
    padding-top: 25px;
}
div.chinhsach > a:hover{
    color: blue;
}
div.MadeGames > a:hover{
    color: blue;
}
footer > img{
    width: 5%;
    right: 25px;
    bottom: 25px;
}